.button
    font-size: 1.63rem
    max-width: 19.72rem
    width: 100%
    font-weight: 700
    padding: 11px 0 18px
    display: flex
    align-items: center
    justify-content: center
    border: none
    outline: none
    border-radius: 15px
    cursor: pointer
    &_primary
        background: linear-gradient(0.0deg, $primary 0%, #f8e89f 100%)