.button
    font-size: 1.56rem
    max-width: 19.72rem
    width: 100%
    font-weight: 700
    padding: 19px 0
    display: flex
    align-items: center
    justify-content: center
    border: none
    outline: none
    border-radius: 50px
    cursor: pointer
    &_primary
        background: $primary