*, *:before, *:after
    box-sizing: border-box
    margin: 0
    padding: 0
h1
    margin: 0
html
    font-size: 18px 
body
    font-family: 'gilroy'
    font-size: 1rem
    color: $dark
    outline: none
    font-weight: 500
img
    max-width: 100% 
.section
    padding: 1.94rem 0
    &__title
        font-size: 2.67rem
    &__text
        font-size: 1rem