.header
    background: $back
    padding: 2.83rem 0 1.94
    .logo
        max-width: 11.382rem
        width: 100%
        &__img
            height: 3.11rem
            &:nth-child(1)
                max-width: 3.03rem
            &:nth-child(2)
                max-width: 11rem
    .nav
        max-width: 39rem
        width: 100%
        padding: 15px 0 0 8px
        &__link
            text-transform: uppercase
            text-decoration: none
            color: $dark
            font-style: italic
            font-weight: 700
            font-size: 1.2rem
            letter-spacing: 0px
            &:nth-child(2)
                margin-left: 1.2rem
                letter-spacing: -1px
            &:nth-child(3)
                letter-spacing: -1px
                margin-left: -1rem
    .contacts
        max-width: 10.167rem
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        &__elem
            max-width: 30px
            width: 100%
        &__phone
            text-decoration: none
            color: $dark
            font-size: 1.3rem
            font-style: italic
            font-weight: 700
        &__messenger
            max-width: 7.67rem  
            width: 100%