.hero
    background: $back url(../img/house.webp) 35% 46% no-repeat
    background-size: 72% 128%
    position: relative
    margin-left: -6px
    min-height: 630px
    padding-top: 1.593rem
    .col
        align-items: flex-start
    .container
        max-width: 1162px
        min-height: 621px
        position: relative
        background: transparent url(../img/trashcans.webp) bottom right no-repeat
        &::before
            content: ''
            background: url(../img/bush-left.webp) no-repeat center
            position: absolute
            left: -32%
            bottom: -29%
            max-width: 622px
            width: 100%
            min-height: 369px
            background-size: 100%
        &::after
            content: ''
            background: url(../img/bush-right.webp) no-repeat center
            position: absolute
            right: -29%
            bottom: -29%
            max-width: 523px
            width: 100%
            min-height: 366px
            background-size: 100%
    &__title
        max-width: 30.89rem
        width: 100%
        font-size: 1.94rem
        line-height: 43px
        line-height: 2.67rem
        font-family: 'Oswald', sans-serif
        text-transform: uppercase
        text-align: left
        &_thanks
            font-size: 2.8rem
    &__text
        max-width: 27.94rem
        width: 100%
        letter-spacing: 0.0358rem
        margin: 33px 0 54px
        font-size: 1.33rem
        text-align: left
        line-height: 1.5rem
        &_thanks
            text-transform: uppercase
            font-family: 'Oswald', sans-serif
            margin-top: 20px
.mobile
    &_on
        display: none